<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Prisutería Accesorios</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

 <!-- Favicons -->
 <link href="/Imagenes/Logo/LogoPrisuteria.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="/CSS/diseño.css" rel="stylesheet">

</head>

<body class="blog-details-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/Imagenes/Logo/LogoPrisuteria.png" class="logo">
        <h1 class="sitename">Prisutería Accesorios</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Inicio</a></li>
          <li><a href="acerca.html"> Acerca de Nosotros </a></li> <!--Historia, Servicios y Galería- Acerca del Sitio-->
          <li><a href="contacto.html">Ubicacion</a></li>
          <li><a href="blog.html"> Blog </a></li> <!--Pagina del tema principal de interes q puede contener menu emergentes -->
          <li><a href="contacto.html">Contáctanos</a></li>
          <li class="dropdown"><a href="#"><span>Sobre la Pagina</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class=""><a href="autores.html"><span>Autores</span> <i class="bi bi-chevron-down"></i></a>
              </li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header>


<!-- Page Title -->
<div class="page-title dark-background d-flex align-items-center justify-content-center text-center" 
     data-aos="fade" 
     style="background-image: url(/Imagenes/Fotos/Conjuntos/ConjuntoShrek.jpg); height: 300px;">
  <div class="container">
    <h1 class="text-white">Acerca de las Autoras de la Página</h1>
  </div>
</div><!-- End Page Title -->

<div class="container text-center mt-5">
  <div class="row justify-content-center">

    <div class="col-lg-8">
      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">
          <article class="article">
            <div class="post-img">
              <img src="/Imagenes/AutoraPriscilla.png" alt="" class="img-fluid">
            </div>

            <h2 class="title mt-3">Autora de la Página</h2>

            <div class="meta-top">
              <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-person"></i> 
                  <a href="">Priscilla Sánchez Benavides | Cédula: 402640669</a>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-mailbox"></i> 
                  <a href=""> Correo:priscillasb62@gmail.com</a>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-clock"></i> 
                  <a href="">Estudiante de Diseño Web y propietaria del negocio Prisutería </a>
                </li>
              </ul>
            </div><!-- End meta top -->
          </article>
        </div>
      </section><!-- /Blog Details Section -->
    </div>
  </div>
</div>

<div class="container text-center mt-5">
  <div class="row justify-content-center">

    <div class="col-lg-8">
      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">
          <article class="article">
            <div class="post-img">
              <img src="/Imagenes/autora.png" alt="" class="img-fluid">
            </div>

            <h2 class="title mt-3">Autora de la Página</h2>

            <div class="meta-top">
              <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-person"></i> 
                  <a href="">Nicole Maria Arias Córdoba | Cédula: 118900425</a>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-mailbox"></i> 
                  <a href="">Correo: nicolaiascordoba@gmail.com</a>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                  <i class="bi bi-clock"></i> 
                  <a href="">Estudiante de Diseño Web</a>
                </li>
              </ul>
            </div><!-- End meta top -->
          </article>
        </div>
      </section><!-- /Blog Details Section -->
    </div>
  </div>
</div>

            

  <footer id="footer" class="footer dark-background">    
    <div class="socials-a">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/prisuteriaaccesorioscr"><i class="bi bi-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/prisuteria_accesorioscr/"><i class="bi bi-instagram" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.tiktok.com/@prisuteria_accesorioscr"><i class="bi bi-tiktok" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://api.whatsapp.com/send/?phone=50671914947&text&type=phone_number&app_absent=0"><i class="bi bi-whatsapp" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Proyecto UTN</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="">Priscilla & Nicole</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>