<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Blog - Prisutería Accesorios</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

 <!-- Favicons -->
 <link href="/Imagenes/Logo/LogoPrisuteria.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/CSS/main.css" rel="stylesheet">
  <link href="/CSS/diseño.css" rel="stylesheet">


</head>

<body class="blog-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/Imagenes/Logo/LogoPrisuteria.png" class="logo">
        <h1 class="sitename">Prisutería Accesorios</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" >Inicio</a></li>
          <li><a href="acerca.html"> Acerca de Nosotros </a></li> <!--Historia, Servicios y Galería- Acerca del Sitio-->
          <li><a href="tienda.html">Tienda</a></li>
          <li><a href="blog.html"> Blog </a></li> <!--Pagina del tema principal de interes q puede contener menu emergentes -->
          <li class="dropdown"><a href="#"><span>Sobre la Pagina</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class=""><a href="autores.html"><span>Autores</span> <i class="bi bi-chevron-down"></i></a>
              </li>
            </ul>
          </li>
          <li >
            <a href="contacto.html#ubicacionPrisuteria" class="ubicacion">
              <img src="/Imagenes/Iconos/IconoUbicacion.png" alt="Ubicación" >
            </a>
          </li>
          
          <li>
          <a href="" class="bolsaCompras">
            <img src="/Imagenes/Iconos/BolsaCompras.png" alt="Bolsa de Compras" >
          </a>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Blog</h1>
        <p>¡Descubre un mundo de creatividad y estilo! 🌟 En este espacio, aprenderás todo sobre accesorios, desde su diseño hasta su creación, y mucho más. ¡Déjate inspirar y crea piezas únicas que reflejen tu personalidad! 💎✨ </p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <section id="Joyeria" class="seccion-Joyeria"  >
      <div class="slider-container">
        <button class="arrow arrow-left" onclick="moveSlide(-1)">&#10094;</button>
        <div class="gallery">
            <div class="product">
                <img src="/Imagenes/Fotos/Aretes/JoyeriaAretesCorazon.png" alt="Aretes Corazon DoradoPlateado">
                <p>Aretes medianos Corazon Dorado Plateado</p>
                <p class="price">₡5000</p>
            </div>
            <div class="product">
                <img src="/Imagenes/Fotos/Collares/JoyeriaCollarGirasol.png" alt="Collar girasol dorado">
                <p>Collar girasol giratorio largo con baño de oro acero</p>
                <p class="price">₡10.000</p>
            </div>
            <div class="product">
                <img src="/Imagenes/Fotos/Pulseras/JoyeriaPulseraTrebol.png" alt="Pulsera trebol negro">
                <p>Pulsera Trebol negro con baño de oro </p>
                <p class="price">₡8000</p>
            </div>
            <div class="product">
                <img src="/Imagenes/Fotos/Aretes/JoyeriaLazoChispa.png" alt="Aretes lazo plateado">
                <p>Aretes  lazo chispita medianos plateados</p>
                <p class="price">₡6000</p>
            </div>
            <div class="product">
                <img src="/Imagenes/Fotos/Collares/JoyeriaCollarCorazonChispa.png" alt="Collar Corazon Chispa">
                <p>Collar Corazon Chispa dorado acero</p>
                <p class="price">₡7000</p>
            </div>
            <div class="product">
              <img src="/Imagenes/Fotos/Pulseras/JoyeriaPulseraTrebolRoja.png" alt="Pulsera trebol roja">
              <p>Pulsera Trebol  rojo con baño de oro  </p>
              <p class="price">₡8000</p>
          </div>
          <div class="product">
            <img src="/Imagenes/Fotos/Aretes/JoyeriaAretesTrebolRojo.png" alt="Aretes trebol roja">
            <p>Aretes Trebol  rojo   </p>
            <p class="price">₡6000</p>
        </div>
        <div class="product">
          <img src="/Imagenes/Fotos/Collares/JoyeriaCollarFloresChispa.png" alt="Collar Flores Chispa">
          <p>Collar Flor  chispa  con baño de oro acero  </p>
          <p class="price">₡7000</p>
      </div>
      <div class="product">
        <img src="/Imagenes/Fotos/Aretes/JoyeriaAretesTrebolNegro.png" alt="Aretes trebol negra">
        <p>Aretes Trebol  negro  </p>
        <p class="price">₡6000</p>
    </div>
        </div>
        <button class="arrow arrow-right" onclick="moveSlide(1)">&#10095;</button>
    </div>
      </section>

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit sint.</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et. Eum temporibus fugiat voluptate enim tenetur sunt omnis.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-4.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius exercitationem.</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-5.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Accusamus quaerat aliquam qui debitis facilis consequatur</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  In itaque assumenda aliquam voluptatem qui temporibus iusto nisi quia. Autem vitae quas aperiam nesciunt mollitia tempora odio omnis. Ipsa odit sit ut amet necessitatibus. Quo ullam ut corrupti autem consequuntur totam dolorem.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article class="d-flex flex-column">

              <div class="post-img">
                <img src="assets/img/blog/blog-6.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">Distinctio provident quibusdam numquam aperiam aut</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                </ul>
              </div>

              <div class="content">
                <p>
                  Expedita et temporibus eligendi enim molestiae est architecto praesentium dolores. Illo laboriosam officiis quis. Labore officia quia sit voluptatem nisi est dignissimos totam. Et voluptate et consectetur voluptatem id dolor magni impedit. Omnis dolores sit.
                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html">Read More</a>
              </div>

            </article>
          </div><!-- End post list item -->

        </div>
      </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>

    </section><!-- /Blog Pagination Section -->

  </main>

  <footer id="footer" style="background-color: #c8a2c8; color: white;" class="pt-5 pb-4">
    <div class="container">
      <div class="row gy-4">
  
        <!-- Logo y contacto -->
        <div class="col-lg-4 col-md-6">
          <h5 class="text-uppercase mb-3 text-white">Prisutería Accesorios</h5> <!-- Asegurado en blanco -->
          <p><strong>Atención al cliente:</strong></p>
          <p class="small">Nuestro equipo está disponible de lunes a sábado de 9:00am a 6:00pm.</p>
  
          <!-- Redes Sociales -->
          <div class="mt-3">
            <a href="https://www.facebook.com/prisuteriaaccesorioscr" class="text-white me-3 fs-5"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/prisuteria_accesorioscr/" class="text-white me-3 fs-5"><i class="bi bi-instagram"></i></a>
            <a href="https://www.tiktok.com/@prisuteria_accesorioscr" class="text-white me-3 fs-5"><i class="bi bi-tiktok"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=50671914947&text&type=phone_number&app_absent=0" class="text-white fs-5"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
  
        <!-- Enlaces -->
        <div class="col-lg-4 col-md-6">
          <h5 class="text-uppercase mb-3 text-white">Enlaces Rápidos</h5> <!-- Asegurado en blanco -->
          <ul class="list-unstyled">
            <li><a href="index.html" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="acerca.html" class="text-white text-decoration-none">Acerca de Nosotros</a></li>
            <li><a href="tienda.html" class="text-white text-decoration-none">Tienda</a></li>
            <li><a href="blog.html" class="text-white text-decoration-none">Blog</a></li>
            <li><a href="contacto.html" class="text-white text-decoration-none">Contáctanos</a></li>
            <li><a href="autores.html" class="text-white text-decoration-none">Autores</a></li>
            <li><a href="Compras.html" class="text-white text-decoration-none">Comprar</a></li>
          </ul>
        </div>
  
        <!-- Agradecimiento -->
        <div class="col-lg-4 col-md-12">
          <h5 class="text-uppercase mb-3 text-white">¡Gracias!</h5>
          <p>Gracias por ser parte de nuestra historia y por elegirnos como tu tienda de moda.</p>
        </div>
  
      </div>
  
      <hr class="my-4 text-white">
  
      <!-- Derechos -->
      <div class="text-center">
        <p class="mb-0">&copy; 2025 <strong class="text-white">Proyecto UTN</strong>. Todos los derechos reservados.</p>
        <small>Diseñado por <a href="#" class="text-white text-decoration-underline">Priscilla & Nicole</a></small>
      </div>
    </div>
  </footer>
  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>