<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Prisutería Accesorios</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

 <!-- Favicons -->
 <link href="/Imagenes/Logo/LogoPrisuteria.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="/CSS/diseño.css" rel="stylesheet">

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/Imagenes/Logo/LogoPrisuteria.png" class="logo">
        <h1 class="sitename">Prisutería Accesorios</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Inicio</a></li>
          <li><a href="acerca.html"> Acerca de Nosotros </a></li> <!--Historia, Servicios y Galería- Acerca del Sitio-->
          <li><a href="#portfolio">Ubicacion</a></li>
          <li><a href="#team"> Blog </a></li> <!--Pagina del tema principal de interes q puede contener menu emergentes -->
          <li><a href="contacto.html">Contáctanos</a></li>
          <li class="dropdown"><a href="#"><span>Sobre la Pagina</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class=""><a href="autores.html"><span>Autores</span> <i class="bi bi-chevron-down"></i></a>
              </li>
            </ul>
          </li>
          <li >
            <a href="contacto.html#ubicacionPrisuteria" class="ubicacion">
              <img src="/Imagenes/Iconos/IconoUbicacion.png" alt="Ubicación" >
            </a>
            
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <!-- Contact Section -->
    <!-- Section Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/Imagenes/Fotos/Conjuntos/ConjuntoShrek.jpg);">
    <div class="container section-title" data-aos="fade-up">
      <h2>Contáctanos</h2>
      <p> ¡No te pierdas nuestras novedades! </br>
      </br>
        Suscríbete con tus datos y recibe información exclusiva sobre nuestro negocio, ofertas especiales y promociones.     </br>     
        </br> </p>
      </div> <!-- End Section Title -->
    </div>
   
    <section id="contact" class="contact section">
      <div class="container text-center mt-4">
        <h2>📩 ¡Regístrate ahora y sé el primero en enterarte!</h2>
    </div>
     
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300" onsubmit="calcularEdad()">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required>
            </div>
        
            <div class="col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Tu Email" required>
            </div>
        
            <div class="col-md-6">
              <label>Fecha de Nacimiento:</label>
              <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
            </div>
        
            <div class="col-md-6">
              <label>Género:</label><br>
              <input type="radio" name="genero" value="Masculino" required> Masculino
              <input type="radio" name="genero" value="Femenino" required> Femenino
              <input type="radio" name="genero" value="Otro" required> Otro
            </div>
        
            <div class="col-md-12">
              <label>Grado Académico:</label>
              <select name="grado_academico[]" class="form-control" multiple required>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="Técnico">Técnico</option>
                <option value="Universitario">Universitario</option>
                <option value="Posgrado">Posgrado</option>
              </select>
            </div>
          
            <input type="hidden" id="edad" name="edad">
        
            <div class="col-md-12 text-center">
              <div class="loading">Cargando....</div>
              <div class="error-message"></div>
              <div class="sent-message">Tu mensaje ha sido enviado con éxito, gracias!</div>
              <button type="submit">Mandar Mensaje</button>
            </div>
          </div>
        </form>

      </div>

    </section><!-- /Contact Section -->

  </main>


    <div id="#" class="container py-5">
      <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center text-center">
            <i class="bi bi-geo-alt mb-3" style="font-size: 3rem;"></i>
            <h3 class="mb-2">Dirección</h3>
            <a class="mb-3">Avenida 2 Cubujuquí, Heredia</a>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.2186918930347!2d-84.12557521928406!3d9.998786164113156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fbec4751f871%3A0xa0e3a62bb4b8f558!2sPrisuter%C3%ADa%20Accesorios!5e0!3m2!1ses-419!2scr!4v1742606054946!5m2!1ses-419!2scr" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
          <!-- Box for "Llámanos" -->
          <div class="info-item d-flex flex-column justify-content-center align-items-center text-center info-item-borders mb-4">
            <i class="bi bi-telephone mb-3" style="font-size: 3rem;"></i>
            <h3 class="mb-2">Llámanos</h3>
            <a class="mb-0">+506 7191 4947</a>
          </div>
  
          <!-- Box for "Email" -->
          <div class="info-item d-flex flex-column justify-content-center align-items-center text-center">
            <i class="bi bi-envelope mb-3" style="font-size: 3rem;"></i>
            <h3 class="mb-2">Email</h3>
            <a class="mb-0">prisuteriaacesorioscr@gmail.com</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
      
<footer id="footer" class="footer dark-background">    
  <div class="socials-a">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/prisuteriaaccesorioscr"><i class="bi bi-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/prisuteria_accesorioscr/"><i class="bi bi-instagram" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.tiktok.com/@prisuteria_accesorioscr"><i class="bi bi-tiktok" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://api.whatsapp.com/send/?phone=50671914947&text&type=phone_number&app_absent=0"><i class="bi bi-whatsapp" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Proyecto UTN</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="">Priscilla & Nicole</a>
      </div>
    </div>

  </footer>

  <!-- Caja contacto WH-->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <a href="https://wa.me/50671914947" target="_blank" id="whatsapp-button" class="whatsapp-button d-flex align-items-center justify-content-center">
    <img src="/Imagenes/Iconos/IconoWHScroll.png" alt="WhatsApp" width="50" height="50">
  
</a>
  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>




</body>
  
</html>